div{
    margin: 3%;}
.inputs{
    margin-left: 15%;
}
.option{
    margin-left: 15%;
    margin-top: 1%;
}
.flex{
    display: flex;
}
.select{
    margin-left: 50%;
    margin-top: 1%;
}
.bttns{
    margin: auto;
    width: fit-content;
    height: fit-content;
}